<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <style>
        .s1{
            font-size: 20px;
        }
        .s2{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome</h1>
            <h2>An API created for simulation of Heat Exchanger and Pump <br> This API is responsible for providing the data regarding various parameters of both the machines</h2>
        </div><br><br>
        <h2>API Endpoints - </h2><br><br>
        <div class="s1">Try This for Heat Exchanger-</div><a href="https://sih-utils.herokuapp.com/util"><p> https://sih-utils.herokuapp.com/util</p></a><br><br>
        <div class="s2">Try This for Pumps-</div><a href="https://sih-utils.herokuapp.com/pump"><p> https://sih-utils.herokuapp.com/pump</p></a><br><br>
    </div>
</body>
</html>