<html>

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/dash/css/main.css">
  <!-- <script src='http://code.jquery.com/jquery-latest.js'></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
  <script src='static/dash/js/main.js'></script>
  <script src="https://cdnjs.com/libraries/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>



  <script>
    // #e67e22 - Orange color
    // #2ecc71 - Green color
    function def() {

      // -------------------------------Initializing 1st Chart--------------------------------------
      var ctx = document.getElementById('temp-chart').getContext('2d');
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
          labels: ['0', '4', '8', '12', '16', '20'],
          datasets: [{
              label: "Predicted-Efficiency",
              //backgroundColor: '#30336b',
              borderColor: '#e67e22',
              data: [30, 25, 20, 18, 15, 10]
            }

          ]
        },

        // Configuration options of 1st Chart go here
        options: {
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Flow-Rate'
              },
              ticks: {
                major: {
                  fontStyle: 'bold',
                  fontColor: '#FF0000'
                }
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Predicted-Efficiency'
              }
            }]
          }
        }
      });

      // -------------------------------Initializing 2nd Chart--------------------------------------
      var ctx1 = document.getElementById('press-chart').getContext('2d');
      var chart1 = new Chart(ctx1, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
          labels: ['0', '4', '8', '12', '16', '20'],
          datasets: [{
              label: "Power",
              //backgroundColor: '#30336b',
              borderColor: '#16a085',
              data: [30, 25, 20, 18, 15, 10]
            },
            
          ]
        },

        // Configuration options of 2nd Chart go here
        options: {
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Flow-Rate Predicted'
              },
              ticks: {
                major: {
                  fontStyle: 'bold',
                  fontColor: '#FF0000'
                }
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Power'
              }
            }]
          }
        }
      });

      function simulate(limit) {
        var lesseff = 0,
          leff = 0,
          neff = 0;
          
        var i = 0;
        var eff_ans;
        var ref = setInterval(() => {
          const proxyurl = "https://cors-anywhere.herokuapp.com/";
          const url = "https://sih-utils.herokuapp.com/pump"
          fetch(proxyurl + url)
            .then(response => response.json())
            .then(function (data) {
              console.log(data);

              $('#h').html(data.h);
              $('#power').html(data.power);
              $('#peff').html(data.eff_pred);
              $('#ceff').html(data.eff_calc);
              $('#flowratec').html(data.flowRate);
              $('#flowratep').html(data.flowRatePred);
              $('#label').html(data.label);
              
              var oldData = chart.data.datasets[0].data;
              oldLabels = chart.data.labels;
              oldLabels.push(data.flowRatePred);
              oldData.push(data.eff_pred);
              chart.data.datasets[0].data.shift();
              //chart.data.datasets[1].data.shift();

              chart.data.labels.shift();
              chart.update();

              //       //------------------------------------ Updating the Chart-2 below ---------------------------------------

              var oldDataInletPress = chart1.data.datasets[0].data;
              oldLabelsPress = chart1.data.labels;
              oldLabelsPress.push(data.flowRatePred);
              oldDataInletPress.push(data.power);
              chart1.data.datasets[0].data.shift();
              chart1.data.labels.shift();
              chart1.update();
              if (data.eff_pred < 70) {
                lesseff++;
                leff++;
                $('#maint-cnt').html('Efficiency lower than 70 (Count) - '+lesseff);
                $(".peffc").css({
                  "background-color": '#e74c3c',
                  "transition": "width 2s",
                  "-webkit-transition": "background-color 1500ms linear"
                });
                $('#message').css({"color":"red"});
                $('#message').html('Increase Power');
              }
              else{
                leff=0;
                $(".peffc").css({
                  "background-color": '#2ecc71',
                  "transition": "width 2s",
                  "-webkit-transition": "background-color 1500ms linear"
                });
                $('#message').css({"color":"green"});
                $('#message').html('Normal');
              }
            });
          i++;
          if (i == limit) {
              clearInterval(ref);
          }
        }, 6000);
      }

      simulate(250);
    }
  </script>
</head>

<body>
  <aside class="side-nav" id="show-side-navigation1">
    <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
    <div class="heading">
      <!-- <img src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance" alt=""> -->
      <div class="info" style="padding-top:20px;">
        <h4><a href="#">404TeamNotFound</a></h4>
        <p>Solution for SIH</p>
      </div>
    </div>
    <div class="search">
      <!-- <input type="text" placeholder="Type here"><i class="fa fa-search"></i> -->
    </div>
    <ul class="categories">
      <li><i class="" aria-hidden="true"></i><a href="#"> All Devices </a>
        <ul class="side-nav-dropdown">
          <li><a href="/userset">Heat Exchangers</a></li>
          <li><a href="/pump">Pumps </a></li>
        </ul>
      </li>
      
      <li><i class=""></i><a href="#"> Alerts / Notifications </a>
        <!-- <ul class="side-nav-dropdown">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">ipsum dolor</a></li>
            <li><a href="#">dolor ipsum</a></li>
            <li><a href="#">amet consectetur</a></li>
            <li><a href="#">ipsum dolor sit</a></li>
          </ul> -->
      </li>

  </aside>
  <section id="contents">
    <div class="welcome">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="content">
              <h2>Pump Simulation</h2>
              <button class="btn btn-success" onclick="def()">Start Simulation !</button>
              <!--<a href="/cost-he"><button class="btn btn-primary ml-3" id="btn-cost">Costing</button></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="statistics">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="info text-center jumbotron"
              style="width: 100%; background-color:#313348; color: white; height: 100px; padding:5px">
              <h4> H </h4>
              <h2 id="h"> 0 </h2>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info text-center jumbotron"
              style="width: 100%; background-color:#313348; color: white; height: 100px; padding:5px">
              <h4> Power </h4>
              <h2 id="power"> 0 </h2>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info text-center jumbotron"
              style="width: 100%; background-color:#313348; color: white; height: 100px; padding:5px">
              <h4>Label </h4>
              <h2 id="label"> 0 </h2>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info text-center jumbotron"
              style="width: 100%; background-color:#313348; color: white; height: 100px; padding:5px">
              <h4>Suggestion</h4>
              <h3 id="message"></h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info text-center jumbotron"
              style="width: 100%; background-color:#313348; color: white; height: 100px; padding:5px">
              <h4> Flow Rate </h4>
              <h2 id="flowratec"> 0 </h2>
            </div>
          </div>


          <div class="col-md-6">
            <div class="info text-center jumbotron"
              style="width: 100%; background-color: #313348; color:white;height: 100px; padding:5px">
              <h4> Flow Rate Predicted </h4>
              <h2 id="flowratep"> 0 </h2>
            </div>
          </div>

          <div class="col-md-6">
            <div class="info text-center jumbotron"
              style="width: 100%; background-color:#313348; color: white; height: 100px; padding:5px">
              <h4> Calculated Efficiency </h4>
              <h2 id="ceff"> 0 </h2>
            </div>
          </div>


          <div class="col-md-6">
            <div class="info text-center jumbotron peffc"
              style="width: 100%; background-color: #313348; color:white;height: 100px; padding:5px">
              <h4> Predicted Efficiency </h4>
              <h2 id="peff"> 0 </h2>
            </div>
          </div>

        </div>

      </div>
    </section>
    <section class="charts">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="chart-container">
              <h4>(Efficiency V/s Flow Rate Predicted )</h4>
              <canvas id="temp-chart"></canvas>
            </div>
          </div>
          <div class="col-md-6">
            <div class="chart-container">
              <h4>(Power Vs Flow Rate Predicted)</h4>
              <canvas id="press-chart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    </body>
    </html>